*{ margin: 0; padding: 0; }
/* sunflower-500 - latin_korean */
@font-face {
    font-family: 'Sunflower';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/sunflower-v9-latin_korean-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/sunflower-v9-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/sunflower-v9-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/sunflower-v9-latin_korean-500.woff') format('woff'), /* Modern Browsers */
         url('fonts/sunflower-v9-latin_korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/sunflower-v9-latin_korean-500.svg#Sunflower') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-regular - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/nanum-gothic-v17-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/nanum-gothic-v17-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/nanum-gothic-v17-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/nanum-gothic-v17-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

.header { font-family: "Sunflower"; font-size: 25px; padding: 15px 0; background:orange; color:white; text-align: center}

.chat { padding-bottom: 80px; overflow:auto; width:100%; height:338px}
.chat ul { width: 100%; list-style: none; }
.chat ul li { width: 100%; }
.chat ul li.left { text-align: left; }
.chat ul li.right { text-align: right; }

.input {width:100%; position:absolute; float:inline-end; background-color:white; border-top:5px solid orange}
.input .message {font-family: "Nanum Gothic"; font-size: 18px; width:80%; height: 50px; border:none; padding:10px; text-align: left}
.input .send { font-family: "Sunflower"; font-size: 22px; width:15%; height: 70px; padding:10px; border-radius:0px; border:none; background:orange; color:white; text-align:center; float: right;}
.input .send:hover{background-color: #FECB61}

.chat ul li > div { font-size: 13px;  }
.chat ul li > div.sender { font-family: "Sunflower"; margin: 10px 20px 0 20px; font-weight: bold; }
.chat ul li > div.intent { font-family: "Nanum Gothic"; display: inline-block; word-break:break-all; margin: 5px 20px; max-width: 75%; border: 1px solid orange; padding: 10px; border-radius: 5px; text-align: left; }
